*{
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0;
}

/*GRID SISTEM*/

/*MOBILE*/

/*colum-width /row-height */

/*FILAS*/

.col-row-1 {
    height: 8.33333333%;
  }
  
.col-row-2 {
    height: 16.66666667%;
  }
  
.col-row-3 {
    height: 25%;
  }

.col-row-5 {
    height: 41.66666667%;
  }
  
.col-row-6 {
    height: 50%;
  }
  
.col-row-7 {
    height: 58.33333333%;
  }
 
/*COLUMNA*/  

.col-row-12 {
    width: 100%;
  }


/*fin grid sistem*/


/*Clases reutilizables*/

/*MOBILE-DESKTOP*/

.capitalize{
    text-transform: capitalize;
}

.container{
    margin: 0 auto;
    box-sizing: border-box;
}

.bg-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

.color-white{
    color: white;
}

.color-red{
    color: #c70039;
}

.padding{
    padding: 0 10%;
}

/*fin clases reutilizables*/

/*MOBILE*/

[class*='col-'] {
    float: left;
  }


section{
    outline: 1px solid red;
    box-sizing: border-box;
    overflow: overlay;
    height: auto;
}

header{
    outline: 1px solid red;
    height: 70px;
    padding: 15px 20px;
    background-color: #ffac0d;
}

div.title{
    display: inline-block;
}

div.title , div.menu {
    width: auto;
}

/*SE CAMBIARA CUANDO PASE A DESKTOP*/

i.desktopOrmobile{
    display: block;
    color: white;
}

nav.desktopOrmobile{
    display: none;
}

/*SE CAMBIARA CUANDO PASE A DESKTOP ---FIN--- */


/* Revisar esta clase*/
div.menu{
    float: right;
    margin: 10px 0;
    font-size: 18px;
}
/* fin de revision*/

ul{
    list-style: none;
}

ul li{
    display: inline;
    margin-left: 10px;
}

a{
    text-decoration-line: none;
    color: white;
}

.business-name{
    padding: 120px 0;
    text-shadow: 3px 3px 10px #fff;
    font-size: 3rem;
}

.card{
    margin-left: 0px;
}

.footer{
    background-color: #ffac0d;
    text-align: center;
    height: 100px;
}

.footer p{
    font-size: 1.2rem;
    margin: 37px 0;
}
 
.img-wall{
    background-image: url('../assets/images/wall.png');
    text-align: center;
    height: 300px;
}

.img-fox1{
    background-image: url('../assets/images/fox-1.png');
    height: 200px;
}

.img-fox2{
    background-image: url('../assets/images/fox-2.png');
    height: 200px;
}

.img-fox3{
    background-image: url('../assets/images/fox-3.png');
    height: 200px;
}

/*fin mobile*/


/*desktop*/

@media (min-width: 480px) {

/*SI LA PANTALLA DEL  DISPOSITIVO TIENE MAS DE 480PX DE ANCHO ENTONCES SE HARA LO SIGUIENTE */    

    nav.desktopOrmobile{
        display: inline-block;
    }

    i.desktopOrmobile{
        display: none;
    }

    .img-wall{
        height: 400px;
    }

    .business-name{
        padding: 120px 0;
        text-shadow: 3px 3px 10px #fff;
        font-size: 8rem;
    }

    .card{
        margin-left: 12%;
    }
    /*GRID SISTEM*/

    /*LAS FILAS PASAN A SER COLUMNAS*/

    .col-row-2 {
        width: 16.66666667%;
    }    

    .col-row-7 {
        width: 58.33333333%;
    }

    .col-row-3 {
        width: 25%;
    }
    /*FIN GRID SISTEM*/
}