*{
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    margin: 0;
}

p.title{
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}

h3, p {
  font-family: 'Barlow', sans-serif;
}

h3{
    margin-bottom: 30px;
}

p{
    text-align: justify;
}

div{
    box-sizing: border-box;
}
/*GRID SISTEM*/

/*MOBILE*/

/*colum-width /row-height */

/*FILAS*/

.col-row-1 {
    height: 8.33333333%;
  }

.col-row-2 {
    height: 16.66666667%;
  }

.col-row-3 {
    height: 25%;
  }

.col-row-5 {
    height: 41.66666667%;
  }

.col-row-6 {
    height: 50%;
  }

.col-row-7 {
    height: 58.33333333%;
  }

/*COLUMNA*/

.col-row-12 {
    width: 100%;
  }


/*fin grid sistem*/


/*Clases reutilizables*/

/*MOBILE-DESKTOP*/

.capitalize{
    text-transform: capitalize;
}

.container{
    margin: 0 auto;
    box-sizing: border-box;
}

.bg-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

.color-white{
    color: white;
}

.color-red{
    color: #c70039;
}

.padding{
    padding: 0 10%;
}

/*fin clases reutilizables*/

/*MOBILE*/

[class*='col-'] {
    float: left;
  }


section{
    box-sizing: border-box;
    box-sizing: border-box;
    overflow: overlay;
    height: auto;
}



header{
    height: 80px;
    padding: 15px 35px;
    background-color: #ffac0d;
}

div.titleContainer{
    display: inline-block;
    text-align: center;
}

div.titleContainer , div.menu {
    width: auto;
}

/*SE CAMBIARA CUANDO PASE A DESKTOP*/

i.desktopOrmobile{
    padding: 5px;
    font-size: 25px;
    border: 1.5px solid white;
    border-radius: 5px;
    text-align: center;
    display: block;
    color: white;
}

nav.desktopOrmobile{
    display: none;
}

.mobile-margin{
    margin-top: 125px;
}

.card{
    margin-top: 125px;
}
.section-marginTop{
    margin-top: 80px;
}

.section-marginBottom{
    margin-bottom: 80px;
}
/*SE CAMBIARA CUANDO PASE A DESKTOP ---FIN--- */


/* Revisar esta clase*/
div.menu{
    float: right;
    margin: 10px 0;
    font-size: 18px;
}
/* fin de revision*/

ul{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
}

ul li{
    display: inline;
    margin-left: 10px;
}

a{
    text-decoration-line: none;
    color: white;
}

.business-name{
    padding: 65px 0;
    text-shadow:
    -1px -1px 15px #fff,
     1px -1px 15px #fff,
    -1px 1px 15px #fff,
     1px 1px 15px #fff;
    text-align: center;
    font-weight: bold;
    font-size: 4rem;
}

.div-padding{
    padding: 30px;
    border: 1px solid grey;
    border-radius: 25px;
}

.buttom{
    border: 1px solid #c70039;
    border-radius: 5px;
    background-color: #c70039;
    margin-top: 35px;
    font-size: 20px;
    padding: 10px;
    width: 150px;
}

.footer{
    background-color: #ffac0d;
    font-weight: bold;
    height: 100px;
}

.footer p{
    font-size: 1.2rem;
    text-align: center;
    margin: 37px 0;
}

.img-wall{
    background-image: url('../assets/images/wall.png');
    text-align: center;
    height: 300px;
}

.img-fox1{
    background-image: url('../assets/images/fox-1.png');
    border-radius: 20px;
    height: 200px;
    margin-bottom: 25px;
}

.img-fox2{
    background-image: url('../assets/images/fox-2.png');
    border-radius: 20px;
    height: 200px;
    margin-bottom: 25px;
}

.img-fox3{
    background-image: url('../assets/images/fox-3.png');
    border-radius: 20px;
    height: 200px;
    margin-bottom: 25px;
}

/*fin mobile*/


/*desktop*/

@media (min-width: 480px) {

/*SI LA PANTALLA DEL  DISPOSITIVO TIENE MAS DE 480PX DE ANCHO ENTONCES SE HARA LO SIGUIENTE */

    nav.desktopOrmobile{
        display: inline-block;
    }

    i.desktopOrmobile{
        display: none;
    }

    .img-wall{
        height: 400px;
    }

    .business-name{
        padding: 110px 0;
        font-size: 8rem;
        font-weight: bold;
        text-align: center;
    }

    .card{
        margin-left: 12%;
        margin-top: 0;
    }

    .desktop-margin{
        margin-left: 75px;
    }

    .mobile-margin{
        margin-top: 0px;
    }

    .section-marginTop{
        margin-top: 70px;
    }
    
    .section-marginBottom{
        margin-bottom: 70px;
    }

    .div-padding{
        padding: 35px;
    }

    /*GRID SISTEM*/

    /*LAS FILAS PASAN A SER COLUMNAS*/

    .col-row-2 {
        width: 16.66666667%;
    }

    .col-row-7 {
        width: 58.33333333%;
    }

    .col-row-3 {
        width: 25%;
    }
    /*FIN GRID SISTEM*/
}
