*{
    width: 100%;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
}
/*Grid sistem*/

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

/*fin grid sistem*/



/*Clases reutilizables*/

.capitalize{
    text-transform: capitalize;
}

.container{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.mobile {
    display: none;
}
  
.desktop {
    display: block;
}

.bg-image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

/*fin clases reutilizables*/




[class*='col-'] {
    float: left;
  }

section{
    box-sizing: border-box;
    width: 100%;
    overflow: overlay;
}

ul{
    list-style: none;
}


a{
    text-decoration-line: none;
}

/*responsive*/